
<table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Salary</th>
        <th scope="col">Company</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr  *ngFor="let job of jobs | paginate: { itemsPerPage: 2, currentPage: page }">
        <td>{{ job.title }}</td>
        <td>{{ job.salary }}</td>
        <td>{{ job.company }}</td>
        <td>
        <a routerLink="/jobs/{{ job.id }}" class="btn btn-xs btn-success">View</a>
        <a routerLink="/edit/{{ job.id }}" class="btn btn-xs btn-info">Edit</a>
        <a (click)="delete(job.id)" class="btn btn-xs btn-danger">Delete</a>
        </td>
      </tr>

      <pagination-controls (pageChange)="page = $event"></pagination-controls>
     
    </tbody>
  </table>